
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>All about me!</h2>
    <p>Know more about my portfolio and projects.</p>
    <a href=".//Users/mrudulavijayanarasimha/Downloads/node-website-course-master/Nishith Lakhnotra - Resume.docx" download="Nishith Lakhnotra Resume.pdf" class="btn btn-lg btn-primary">
      <!-- <button>Download my resume</button> -->
      Download my resume
    </a>
    <!-- <a href="/contact" class="btn btn-lg btn-primary">Download my resume</a> -->
  </div>
</section>




<%- contentFor('body') %>
<div class="jumbotron text-center">
  <h1 style="color: black;">Projects</h1>

  <div class="row">
    <% for (user of users) { %>
      <div class="col-sm-3">
        <h2 style="color: black;"><%= user.name %>
        <img src="<%= user.avatar %>" alt="" class="img-responsive">
      </div>
    <% } %>
  </div>
</div>
