<div class="jumbotron text-center">
    <h1 style="color: black;">Abstract</h1>
    <h2 style="color: black; padding-top: 20px;">“Intelligence Driven Cyber Threat Modeling”</h2>
    <p style="color: black; text-align: justify; padding-top: 20px; margin:50px;">The claim that the system is secure in today's ever-changing landscape of cyber-attacks is tough to justify. By creating a methodology to produce a playbook with Essential Elements of Information (EEI) that maps Tactics, Techniques and Procedures (TTPs), Technical Indicators, Mitigation, and Default Variables to organize, prioritize, produce and measure the production of Cyber Intelligence can greatly help the Cyber Threat Intelligence Planners, Analysts, and Researchers. Furthermore, it can be used as a standard to develop Intelligence Requirements and measure intel teams' value to vendors and stakeholders. There is no standard response to different types of attacks and therefore formulating threat modeling strategies should be emphasized around behavior fingerprinting of different types of attacks. The baseline of the playbook will be built around the General Intelligence Requirements that the Intel471 has agreed on collaborating and sharing. This shall greatly contribute to an even bigger purpose: to counter cyber terrorism and identify, approach the threat modeling process of complex systems.
    </p>
</div>  


