
<h1 style="color: black; text-align: center; padding-bottom: 30px; font-size:70px;">ATTACK MAP</h1>
<div id="image_map"><map name="map_example"> 
  <area href="/prep" alt="Preparation" target="_blank" shape=poly coords="50,130, 250,130, 70,170, 210,170"> 
  <area href="/engage" alt="Engagement" target="_blank" shape=poly coords="70,310, 250,280, 80,280, 260,310">
  <area href="/sa" alt="SA" target="_blank" shape=poly coords="70,430, 260,430, 70,470, 260,470">
  <area href="/consequence" alt="PD" target="_blank" shape=poly coords="50,590, 200,590, 50,630, 250,630">
</map> 
<img src="../img/image.png" alt="image map example" width=1000 height=664 usemap="#map_example" style="position: relative; margin-left:250px;">
</div>

