
<%- contentFor('body') %>
<div class="jumbotron text-center">
    <h1 style="color: black;">Psuedo-code</h1>
    <p style="color: black; text-align: justify; padding-top: 20px; margin:50px;">
        $EventId = 4768,4769

        <br>$A = Get-WinEvent -MaxEvents 1  -FilterHashTable @{Logname = "Security" ; ID = $4769}
        <br>$Message = $A.Message
        <br>$EventID = $A.Id
        <br>$MachineName = $A.MachineName
        <br>$Source = $A.ProviderName
        
        
        <br>$EmailFrom = "teamdamnhot@gmail.com"
        <br>$EmailTo = "teamdamnhot@gmail.com"
        <br>$Subject ="Alert From $DC01"
        <br>$Body = "EventID: $EventID`nSource: $Source`nMachineName: $MachineName `nMessage: $Message"
        <br>$SMTPServer = "DC01.capstone.local"
        <br>$SMTPClient = New-Object Net.Mail.SmtpClient($SmtpServer, 587)
        <br>$SMTPClient.EnableSsl = $true
        <br>$SMTPClient.Credentials = New-Object System.Net.NetworkCredential("teamdamnhot@gmail.com", "damnhotpassword123");
        <br>$SMTPClient.Send($EmailFrom, $EmailTo, $Subject, $Body)
    </p>
</div>  