<div class="jumbotron text-center">
    <h1 style="color: black; text-align: center;   padding-left: 50px;font: size 4;">Proactive Approach to Foil Threat COA</h1>
    <ul style="font-size: xx-large; text-align: left; margin: 40px; text-align: justify;">
        <li>EEIs answered: <img src="../img/pbcoa.png" alt="EEIs"></li>
        <li>Detection for this type of attack is said to have been tough since there are not many pointers differentiating Anomalous versus Normal behavior but we shall take into account the Supporting Artifacts/Indicators of Compromise to counter the adversary operations.</li>
        <li>We shall write a rule to proactively detect adversary actions after we analyze the next couple of screenshots:</li>
        <li>As stated earlier, it is evident from this screenshot that the Kerberos Ticket
            Encryption type for sqladmin (for which we have conducted threat modeling) is RC4 while it is AES for the others, which is unusual.</li>
        <figure>
            <img src="../img/pbpa1.png" alt="Recon" class="center" style = "padding-top: 30px; display: block; padding:top 20px; margin-left: auto; margin-right: auto; width: 70%;">
            <figcaption style="font-size: 30px; text-align:center">Monitoring TGS-REQ communication with RC4 encryption as shown for sqladmin user is a good starting indicator</figcaption>
        </figure>
        <li>When users need access to the resources, the service tickets are requested all the time, but a single user harvesting multiple service requests in a very short interval of time.</li>
        <figure>
            <img src="../img/pbpa2.png" alt="Recon" class="center" style = "padding-top: 30px; display: block; padding:top 20px; margin-left: auto; margin-right: auto; width: 70%;">
            <figcaption style="font-size: 30px;text-align:center">Multiple Kerberos Tickets Requested in short interval of time can be tracked with alerts as mentioned earlier</figcaption>
        </figure>
        <li>From the previous two screenshots and the supporting artifact regarding the ticket encryption type, we can filter for actions that follow this rule:</li>
        <figure>
            <img src="../img/pbpa3.png" alt="Recon" class="center" style = "padding-top: 30px; display: block; padding:top 20px; margin-left: auto; margin-right: auto; width: 70%;">
            <figcaption style="font-size: 30px;text-align:center">Rules can be setup to trigger alerts on a potential attack as this</figcaption>
        </figure>
        <li>With this alert, we are looking at alerts that have the event code 4769, the ticket encryption type as 0x17 RC4 encryption), the account requesting service ticket is not a machine account (krbtgt account), failure code is 0x0.</li>
        <li>Going a step forward, lets setup a trap to detect and counter the threat, we shall create a bait in form of a highly privileged account which will act as a HVT (High Value Target).</li>
        <li>As listed below, we will be creating a "honeypot" with a fake Service Principle Name (SPN) so when it is requested, we know the request is not valid but malicious. </li>
        <li>Creating a Honeypot account and assigning a Service Principal Name to it:</li>
        <figure>
            <img src="../img/pbpa4.png" alt="Recon" class="center" style = "padding-top: 30px; display: block; padding:top 20px; margin-left: auto; margin-right: auto; width: 70%;">
            <figcaption style="font-size: 30px;text-align:center">Proposing a Honeypot account</figcaption>
        </figure>
        <li>Setting the adminCount = 1 so as to allocate it to high privilege accounts:</li>
        <figure>
            <img src="../img/pbpa5.png" alt="Recon" class="center" style = "padding-top: 30px; display: block; padding:top 20px; margin-left: auto; margin-right: auto; width: 40%;">
            <figcaption style="font-size: 30px;text-align:center">Setting High Privileges for presenting as a HVT</figcaption>
        </figure>
        <li>The fake Service Principal Name SPN shows up:</li>
        <figure>
            <img src="../img/pbpa6.png" alt="Recon" class="center" style = "padding-top: 30px; display: block; padding:top 20px; margin-left: auto; margin-right: auto; width: 40%;">
            <figcaption style="font-size: 30px;text-align:center">Fake Service Principal Name (SPN) </figcaption>
        </figure>
        <li>The Attacker asks for the TGT of the Honeypot (legitimate user has no business requesting the same):</li>
        <figure>
            <img src="../img/pbpa7.png" alt="Recon" class="center" style = "padding-top: 30px; display: block; padding:top 20px; margin-left: auto; margin-right: auto; width: 70%;">
            <figcaption style="font-size: 30px; text-align:center">Attacker asking for TGT of the Honeypot Account</figcaption>
        </figure>
        <li>The RC4 encrypted ticket of the honeypot account requested by the attacker:</li>
        <figure>
            <img src="../img/pbhoney1.png" alt="Recon" class="center" style = "padding-top: 30px; display: block; padding:top 20px; margin-left: auto; margin-right: auto; width: 70%;">
            <figcaption style="font-size: 30px; text-align: center;">klist output says the attacker has requested RC4 TGS ticket for the SPN</figcaption>
        </figure>
        <li>The event that calls for an alert for a definite Kerberoasting attack going on.</li>
        <li>Event 4769 requested for the honeypot account with 0x17 RC4 encryption:</li>
        <figure>
            <img src="../img/pbpa9.png" alt="Recon" class="center" style = "padding-top: 30px; display: block; padding:top 20px; margin-left: auto; margin-right: auto; width: 70%;">
            <figcaption style="font-size: 30px;text-align:center">Ticket Encryption Type: 0x17 (RC4), Honeypot Kerberos Service Ticket Requested</figcaption>
        </figure>
        <li>Above given measures will classify the adversary activity from potential attack to <b>definite attack.</b></li>
        <li>Through these proactive indicators that the threat intel team provides, the IR team should be simply putting the corresponding user under blacklist: One that triggers the aforementioned alert/ hits the honeypot account/ requests multiple RC4 encrypted Kerberos tickets in short interval as an <b>Exact Action</b> to foil threat COA.</li>
    </ul>
</div>