<div class="jumbotron text-center">
    
    <img src="../img/logo-intel471.png" alt="intel471" class="center" style = "display: block; margin-left: auto; margin-right: auto; height:auto;">
    <h1 style="color: black; text-align: center; padding-bottom: 30px; font-size:60px;"><u>General Intelligence Requirements</u></h1>
    <div style="font-size: xx-large; text-align: left; margin: 40px;"></div>
    <ul  style="font-size: xx-large; text-align: left; margin: 40px; text-align: justify;">
        <li>The General Intelligence Requirements Handbook by Intel471 is a baseline tool to assist in organizing, prioritizing, producing, and measuring the production of Intelligence.</li>
        <li>These General Intelligence Requirements contain Essential Elements of Information which are basic questions corresponding to adversary, which indirectly seeks enough intel to counter a specific threat course of action.</li>
        <li>The following Infographic captures step by step Intelligence Planning Essentials:</li>
    </ul>
    <figure>
        <img src="../img/gir1.png" alt="some gir text" class="center" style = "display: block; margin-left: auto; margin-right: auto; height:auto; width: 50%">
        <figcaption style="font-size: 30px;">CU-GIRH</figcaption> 
    </figure>
    <ul  style="font-size: xx-large; text-align: left; margin: 40px; text-align: justify;">
        <li>This literature can be used in different ways by different factions, for example a researcher can use this as a reference for collection opportunities while an intelligence planner, to support development of intelligence requirements.</li>
        <li>We shall use this literature to create the baseline of the playbook for Intelligence Driven Cyber Threat Modeling.</li>
        <li>The idea here is to propose basic EEIs about the adversary course of action and have enough intel to address the same, some of these questions are as follows:</li>
        <dl >
            <dd>- Who are my adversaries?</dd>
            <dd>- What are the adversary motives?</dd>
            <dd>- How do we prepare against these adversaries?</dd>
            <dd>- Are we under attack?</dd>
            <dd>- Have the adversaries been successful?</dd>
            <dd>- How do we respond: Requires Intelligence Data?</dd>
        </dl>
        <li>From the tactical perspective, here are the pointers:
            <dl>
                <dd>- What are we addressing: Fear, Data Overload, Proactivity.
                </dd>
                <dd>- What are we serving: Tactical and Technical, Operational, Strategic Intel. </dd>
            </dl>
        </li>
        <li>From the process point of view:<br>Operational Environment > Collection > Data > Processing and Exploitation > Information > Analysis and Production > Intelligence </li>
        <li>The realization of this process comes alive when the stakeholders select and rank the GIRs across all the clients, prioritize these requirements and steer to prioritize which threats need to be modeled.</li>
    </ul>
    <figure>
        <img src="../img/gir2.png" alt="some gir text" class="center" style = "display: block; margin-left: auto; margin-right: auto; height:auto; width: 60%">
        <figcaption style="font-size: 30px;">Top 20 GIRs ranked by cumulative score</figcaption> 
    </figure>
    <ul style="font-size: xx-large; text-align: left; margin: 40px; text-align: justify;">
        <li>Referencing the Intelligence Data as above, we can prioritize threat modeling and propose an example of playbook creation for a particular tactic with a high Final score and follow this methodology for other GIRs later, here is the Tactic we shall be focusing on in our "Threat Course of Action" and "Playbook" documents: <mark style="background-color: yellow;">5.2.6 - Credential Access</mark></li>
    </ul>

</div>
