
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2 style="font-size: xxx-large; font: size 25px;">Intelligence Driven Cyber Threat Modeling</h2>
    <p>Capstone by Nishith Lakhnotra</p>

    <a href="/abstract" class="btn btn-lg btn-primary" target="_blank" style="position: relative;">Abstract</a>
    <a href="/attackmap" class="btn btn-lg btn-primary" target="_blank" style = "position: relative;">Attack map</a>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center" class = "flex-container" style="width:100%; display: flex;  margin-right: 30px; position: relative;" >
  <div class="card" style="float:left; width: 400px;margin-left: 125px; position: relative;">
        <div class="w3-card-4" style="position: relative;"></div>
        <div class="container" style="position:relative;">
            <img src="/img/BG.jpg" alt="Stars" style="width:100%;">
            <div class="text-block"><h2>General Intelligence Requirements</h2></div>
            <p style="font-size: large; color: black; padding-top: 25px;" >Organize, prioritize, produce and measure Cyber Intelligence</p>
        </div>
        <footer class="w3-container w3-blue">
            <a href="/gir" class="btn btn-lg btn-primary" target="_blank" >Know more</a>
        </footer>
    </div>
    <div class="card" style="float:left; width: 400px; margin-left: 40px; position:relative;">
        <div class="w3-card-4" style="position: relative;"></div>
        <div class="container" style="position: relative;">
            <img src="/img/BG.jpg" alt="Stars" style="width:100%;">
            <div class="text-block"><h2>Adversary Modeling Template</h2></div>
            <p style="font-size: large; color: black; padding-top: 25px; padding-bottom: 27.5px;" >Threat course of action</p>
        </div>
        <footer class="w3-container w3-blue">
            <a href="/amt" class="btn btn-lg btn-primary" target="_blank" >Know more</a>
        </footer>
    </div>
    <div class="card" style="float:right; width: 400px ; margin-left: 40px; margin-right: 10px; position: relative;">
        <div class="w3-card-4" style="position: relative;"></div>
        <div class="container" style="position: relative;">
            <img src="/img/BG.jpg" alt="Stars" style="width:100%;">
            <div class="text-block" style="padding-left: 30px;"><h2>Threat Modeling Playbook</h2></div>
            <p style="font-size: large; color: black; padding-top: 25px; padding-bottom: 27.5px;" >Common Cyber Threat Framework mapping</p>
        </div>
        <footer class="w3-container w3-blue">
            <a href="/tmp" class="btn btn-lg btn-primary" target="_blank" >Know more</a>
        </footer>
    </div>
</div>

